@using FFLTask.GLB.Global.Enum
@using FFLTask.SRV.ViewModel.Task
@model EditModel
@Html.Partial("EditColumns/_Edit_Subtitle", TaskProcess.Comment, new ViewDataDictionary { { "Edit", false } })
<table>
    @if (Model.CurrentUser != null)
    {
        <tr id="comment_to" style="clear: both; font-size: 14px;">
            <th>
                收信人：
            </th>
            <td colspan="3">
                <label>@Html.RadioButtonFor(m => m.AddresseeId, DBNull.Value, new { Checked = "Checked " })无</label>
                @if (Model.CurrentUser.Id != Model.TaskItem.Publisher.Id)
                {
                    <label>@Html.RadioButtonFor(m => m.AddresseeId, Model.TaskItem.Publisher.Id) 发布人</label>
                }
                @if (Model.TaskItem.Owner != null && Model.CurrentUser.Id != Model.TaskItem.Owner.Id)
                {
                    <label>@Html.RadioButtonFor(m => m.AddresseeId, Model.TaskItem.Owner.Id) 承接人</label>
                }
                @if (Model.CurrentUser.Id != Model.TaskItem.Accepter.Id)
                {
                    <label>@Html.RadioButtonFor(m => m.AddresseeId, Model.TaskItem.Accepter.Id) 验收人</label>
                }
            </td>
        </tr>
    }
    <tr>
        <th class="top_align first_column">
            内容：
        </th>
        <td class="textarea" colspan="3">
            @Html.TextAreaFor(m => m.Comment, new { style = "width:480px; height:100px;" })
            <br />
            @Html.ValidationMessageFor(m => m.Comment)
        </td>
    </tr>
    <tr>
        <th class="top_align first_column">
            附件：
        </th>
        <td colspan="3">
            @Html.Partial("~/Views/Task/_UpLoadFiles.cshtml")
        </td>
    </tr>
</table>
